<% include ../partials/headerSeminovos %>


  <% if(userId){ %>
    <div class="jumbotron d-flex justify-content-center">
       
            <div class="row">
              <div class="col-12">
                  <h1 class="display-4 texto-destaque text-center">
                      Bem vindo Admin
                    </h1>
                    <div class="d-flex justify-content-center">
                      <a href="/seminovos/novo" class="btn btn-lg btn-success m-5 text-center" id="nova-categoria">Adicionar seminovo</a>
                    </div>
              </div>
            </div>
    
      </div>
    <%}%>
    
    <div class="container">
      <form action="/seminovos/editSeminovos?_method=PUT" method="POST">
      <div class="row d-flex justify-content-center">
        <h1> <input type="text" value="<%= pagina[0]['titulo'] %>" name="novoTitulo" style="width:1000px;"></h1>
      </div>
      <div class="row d-flex justify-content-center">
          <p> <textarea name="novoConteudo"cols="30" rows="10"><%=pagina[0]['conteudo']%></textarea></p>
        </div>
        <button type="submit"class="btn btn-success">Enviar</button>
      </form>
        <% for(var i = 0; i<seminovos.length; i++){ %>
          <div class="ml-5 mr-5">
            <div class="card mb-3" style="width: 700px;">
                    <div class="row no-gutters">
                      <div class="col-md-5">
                        <img src="<%=seminovos[i]['imagem']%>" class="card-img imagem-card">
                      </div>
                      <div class="col-md-7">
                        <div class="card-body">
                          <h5 class="card-title"><%= seminovos[i]['nome'] %></h5>
                          <p class="card-text"><%= seminovos[i]['descricao'] %></p>
                          <p class="card-text">Preço: <%= seminovos[i]['preco'] %></p>
                          <p class="card-text">Ano: <%= seminovos[i]['ano'] %></p>
                          <% if(userId){ %>
                            <a href="seminovos/<%= seminovos[i]['id_seminovo'] %>/delete" class="btn btn-danger">Deletar</a>
                            <a href="seminovos/<%= seminovos[i]['id_seminovo']%>/edit" class="btn btn-warning">Editar</a>
                          <%}%>
                        </div>
                      </div>
                    </div>
            </div>
          </div>
          
        <%}%>
    </div>
    <div class=" whats">
        <a href="https://wa.me/48988054958">
               <img target="_blank" src="/img/Sendusamessage.png" alt="">
        </a>
    </div>


<% include ../partials/footer %>