<% include ../partials/headerMaquinas %>

<div class="container d-flex justify-content-center">
    <h1>Editar Categoria</h1>
    <a href="/maquinas">Voltar</a>
</div>
<div class="container">
    <form action="/maquinas/<%= id %>?_method=PUT" method='POST' enctype="multipart/form-data"> 
        <div class="form-group">
            <label for="editNome">Nome:</label>
            <input type="text" name="editNome" id="editNome" class="form-control" value="<%= data[0]['nome'] %>">
        </div>
        <div class="form-group">
            <label for="editDescricao">Descrição:</label>
            <textarea type="textarea" name="editDescricao" id="editDescricao" class="form-control" rows="4"><%=data[0]['descricao']%></textarea>
        </div>   
        <div class="form-group">
            <label for="editImage">Imagem:</label>
            <input type="file" class="form-control-file" accept="image/*" required name="editImage" id="editImage" value="<%= data[0]['imagem'] %>">
        </div>
    <!-- <a href="/maquinas/<%= id %>?_method=DELETE" class="btn btn-danger"></a> -->
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<% include ../partials/footer %>