<% include ../partials/headerMaquinas %>

    <% if(userId){ %>
      <div class="jumbotron d-flex justify-content-center">
        
          <div class="row">
            <div class="col-12">
                <h1 class="display-4 texto-destaque text-center">
                    Bem vindo Admin
                  </h1>
                  <div class="d-flex justify-content-center">
                    <a href="/maquinas/vermaquina/<%=id_m%>/nova" class="btn btn-lg btn-success m-5 text-center" id="nova-categoria">Adicionar nova máquina</a>
          
                  </div>
            </div>
          </div>
      </div>
    <%}%>

    <div class="container">
      <br><br>
      <div class="row d-flex justify-content-center" style="text-transform: uppercase; font-size: large;" data-anime="left">
        <h1 class="text-center"><%=categoria[0]['nome']%></h1>
      </div>
      <div class="row d-flex justify-content-center" data-anime="right">
          <h5 class="text-center"><%=categoria[0]['descricao']%></h5>
        </div>
      <br><br>
      <div class="row d-flex justify-content-center">
        <% for(var i = 0; i<maquinas.length; i++){ %>
          <div class="col-12 col-lg-6 m-0 d-flex justify-content-center">
    
            <div class="card card-estilo" data-anime="bottom">
              <img src="<%= maquinas[i]['imagem'] %>" class="card-img-top imagem-card">
              <div class="card-body">
                <h5 class="card-title"><%= maquinas[i]['nome'] %></h5>
                <table class="table  table-striped maquina-tabela" data-anime="bottom">
                  <tbody>
                    <% for(var j=0; j<campos.length; j++){%>
                      <!-- Verificar se o campo é da máquina impressa -->
                      <% if (campos[j]['maquina'] == maquinas[i]['id_maquina']){ %>
                        <% if(campos[j]['nome'] || campos[j]['campo'] != ""){%>
                          <tr>
                            <th><%= campos[j]['nome'] %></th>
                            <td><%= campos[j]['campo'] %></td>
                          </tr>
                        <%}%>
                      <% } %>
                    <%}%>
                  </tbody>
                </table>
                <% if(userId){ %>
                <div class="d-flex justify-content-around">
                    <a href="/maquinas/verMais/<%=id_m%>/<%= maquinas[i]['id_maquina'] %>/edit" class="btn btn-warning btn-padrao">Editar</a>
                    <a href="/maquinas/verMais/<%=id_m%>/<%= maquinas[i]['id_maquina'] %>/delete" class="btn btn-danger btn-padrao">Deletar</a>
                </div>
                
                <%}%>
              </div>
            </div>    
          </div>

        <%}%>
      </div>

      <div class="d-flex justify-content-center align-items-center container mb-3 " data-anime="bottom">
          <p class="obras-traco mr-2">- </p><i class="fas fa-truck-monster icone-padrao"></i></i> <p class="obras-traco ml-2"> -</p>
      </div>
    </div>

    <% include ../partials/whats %>


  <% include ../partials/footer %>